body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: darkblue;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    border: solid 2px blue;
}

.input::placeholder {
    color: lightgray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn {
    background-color: blue;
    border: none;
    display: block;
    width: 100%;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.btn:hover {
    filter: brightness(0.9);
}

.skor {
    color: blue;
    text-align: left;
}